# Insert library

In [2]:
import pandas as pd
from khayyam import *
from datetime import timedelta
from datetime import date, time, datetime


 
 Creating Jalali and Gregorian Date Objects
 
 <div style="text-align: right">  تعریف تاریخ شمسی و میلادی</div>

In [3]:

jalali_date = JalaliDate(1361, 6, 15)
print('Jalali date:\t\t',jalali_date)

Gregorian_date = date(1982, 9, 6)
print('Gregorian date:\t\t',Gregorian_date)

Gregorian_datetime = datetime(2020, 5, 17)
print('Gregorian datetime:\t',Gregorian_datetime)

Gregorian_timestamp = pd.Timestamp(2017, 1, 1, 12)
print('Gregorian timestamp:\t',Gregorian_timestamp)

Gregorian_Time = time(hour=13, minute=14, second=31)
print('Gregorian time:\t\t',Gregorian_Time)

Jalali date:		 1361-06-15
Gregorian date:		 1982-09-06
Gregorian datetime:	 2020-05-17 00:00:00
Gregorian timestamp:	 2017-01-01 12:00:00
Gregorian time:		 13:14:31

In [4]:
today = date.today()
print('today',today)

now = datetime.now()
print('now',now)
current_time = time(now.hour, now.minute, now.second)
datetime.combine(today, current_time)

today 2023-07-06
now 2023-07-06 10:29:12.882003

datetime.datetime(2023, 7, 6, 10, 29, 12)

# The strftime() Method

In [5]:
print('Year, full version:\t \t',Gregorian_date.strftime("%Y"))
print('Month name, full version:\t',Gregorian_date.strftime("%B"))
print('Month as a number 01-12:\t',Gregorian_date.strftime("%m"))
print('Day of month 01-31:\t \t',Gregorian_date.strftime("%d"))
print('Weekday, full version: \t\t',Gregorian_date.strftime("%A"))
print('Weekday as a number 0-6, 0 is Sunday:\t',Gregorian_date.strftime("%w"))
print('Day number of year 001-366:\t',Gregorian_date.strftime("%j"))
print('full version:\t \t\t',Gregorian_date.strftime('%Y %B %d'))

Year, full version:	 	 1982
Month name, full version:	 September
Month as a number 01-12:	 09
Day of month 01-31:	 	 06
Weekday, full version: 		 Monday
Weekday as a number 0-6, 0 is Sunday:	 1
Day number of year 001-366:	 249
full version:	 		 1982 September 06

### jalali date strftime() Method

In [6]:
print('Year, full farsi version:\t',jalali_date.strftime('%N'))
print('Year, full version:\t \t',jalali_date.strftime('%Y'))
print('Month name, full farsi version:\t',jalali_date.strftime('%B'))
print('Month as a number 01-12:\t',jalali_date.strftime('%m'))
print('Day of month 01-31:\t \t',jalali_date.strftime('%D'))
print('Weekday, full version: \t\t',jalali_date.strftime('%A'))
print('Day number of year 001-366:\t',jalali_date.strftime('%j'))
print('full version:\t \t \t',jalali_date.strftime('%Y %m %d'))
print('full version farsi:\t \t',jalali_date.strftime('%A %D %B %N'))

Year, full farsi version:	 ۱۳۶۱
Year, full version:	 	 1361
Month name, full farsi version:	 شهریور
Month as a number 01-12:	 06
Day of month 01-31:	 	 ۱۵
Weekday, full version: 		 دوشنبه
Day number of year 001-366:	 170
full version:	 	 	 1361 06 15
full version farsi:	 	 دوشنبه ۱۵ شهریور ۱۳۶۱

# Extract Year, Month and Day from the Date
#
دسترسی به روز، ماه و سال

In [7]:
print('Gregorian year:  ', Gregorian_date.year)
print('Gregorian month: ', Gregorian_date.month)
print('Gregorian day:   ', Gregorian_date.day)
print('shamsi year:     ',jalali_date.year)
print('shamsi month:    ',jalali_date.month)
print('shamsi day:      ',jalali_date.day)

Gregorian year:   1982
Gregorian month:  9
Gregorian day:    6
shamsi year:      1361
shamsi month:     6
shamsi day:       15

In [8]:
print(jalali_date.monthabbr())
print(jalali_date.monthname())
print(jalali_date.dayofyear())
print(jalali_date.englishweekdaynameascii())
print(jalali_date.fromordinal(508000))

شه
شهریور
170
Monday
1391-11-08

DATETIME: It is used for values that contain both date and time parts. The supported range is 1000-01-01 00:00:00 to 9999-12-31 23:59:59.

TIMESTAMP: It is also used for values that contain both date and time parts, and includes the time zone. TIMESTAMP has a range of 1970-01-01 00:00:01 UTC to 2038-01-19 03:14:07 UTC.

In [9]:
print(Gregorian_date.min)
print(Gregorian_date.max)
print(Gregorian_date.resolution)
print(Gregorian_timestamp.min)
print(Gregorian_timestamp.max)

0001-01-01
9999-12-31
1 day, 0:00:00
1677-09-21 00:12:43.145225
2262-04-11 23:47:16.854775807

Find the Difference Between Two Dates and Times
Comparing dates

In [10]:
Gregorian_date1 = date(2020, 9, 6)
Gregorian_date2 = date(2020, 2, 9)
Gregorian_date1 < Gregorian_date2

False

In [11]:
JalaliDate(1398, 11, 20) == JalaliDate(Gregorian_date2)

True

A timedelta object represents a duration, the difference between two dates or times.

In [12]:
JalaliDate(1395, 2, 14) + timedelta(days=38)

khayyam.JalaliDate(1395, 3, 21, Jomeh)

In [13]:
JalaliDate(1395, 12, 30) - JalaliDate(1395, 1, 1)

datetime.timedelta(days=365)

In [14]:
Gregorian_date2.replace(day=26)

datetime.date(2020, 2, 26)

In [15]:
import datetime

# (hours, minutes)
start_time = datetime.time(7, 0)
# (year, month, day)
start_date = datetime.date(2015, 5, 1)
# Create a datetime object
start_datetime = datetime.datetime.combine(
    start_date, start_time)

In [16]:
start_datetime

datetime.datetime(2015, 5, 1, 7, 0)

# چندمین روز سال {1-365}

In [17]:
JalaliDatetime(1399,2,2).dayofyear()

33

In [18]:
JalaliDatetime(1399,2,2).englishweekdaynameascii()

'Tuesday'

In [19]:
JalaliDatetime(1399,2,2).firstdayofyear

In [20]:
JalaliDatetime(1399,2,2).fromordinal(508000)

khayyam.JalaliDatetime(1391, 11, 8, 0, 0, 0, 0, Yekshanbeh)

In [21]:
print(JalaliDatetime(1399,2,2).monthabbr())
print(JalaliDatetime(1399,3,2).monthabbr())
print(JalaliDatetime(1399,6,2).monthabbr())

ار
خر
شه

In [22]:

print(JalaliDatetime(1399,2,2).monthname())
print(JalaliDatetime(1399,3,2).monthname())
print(JalaliDatetime(1399,6,2).monthname())

اردیبهشت
خرداد
شهریور

# Converting

تبدیل تاریخ از شمسی به میلادی و برعکس

In [23]:
from datetime import date
print(date(2013, 9, 16),'-> convert Gregorian to jalali->', JalaliDate(date(2013, 9, 16)))
print(JalaliDate(1392, 6, 25),'-> convert jalali to Gregorian->',JalaliDate(1392, 6, 25).todate())

2013-09-16 -> convert Gregorian to jalali-> 1392-06-25
1392-06-25 -> convert jalali to Gregorian-> 2013-09-16

Formatting Dates

In [24]:
# import datetime
from datetime import datetime
dt_string = "12/11/2018 09:15:32"
# Considering date is in dd/mm/yyyy format
dt_object1 = datetime.strptime(dt_string, "%d/%m/%Y %H:%M:%S")
print("dt_object1:", dt_object1)
# Considering date is in mm/dd/yyyy format
dt_object2 = datetime.strptime(dt_string, "%m/%d/%Y %H:%M:%S")
print("dt_object2:", dt_object2)

# Convert dt_object2 to Unix Timestamp
timestamp = datetime.timestamp(dt_object2)
print('Unix Timestamp: ', timestamp)

# Convert back into datetime
date_time = datetime.fromtimestamp(timestamp)
d = date_time.strftime("%c")
print("Output 1:", d)
d = date_time.strftime("%x")
print("Output 2:", d)
d = date_time.strftime("%X")
print("Output 3:", d)

dt_object1: 2018-11-12 09:15:32
dt_object2: 2018-12-11 09:15:32
Unix Timestamp:  1544507132.0
Output 1: Tue Dec 11 09:15:32 2018
Output 2: 12/11/18
Output 3: 09:15:32

In [25]:
import pandas as pd
from khayyam import *
from datetime import timedelta, date
from datetime import date, datetime
df = pd.read_excel('Ravand.xlsx')
df_copy = df
df.head()

  نام فروشگاه   سال  ماه  روز
0      store1  1396  آذر    4
1      store1  1396  آذر    5
2      store1  1396  آذر    6
3      store1  1396  آذر    7
4      store1  1396  آذر    8

تبدیل ماه فارسی به عدد ماه

In [26]:
months_index = ['فروردین', 'اردیبهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر', 'دی', 'بهمن', 'اسفند']
df['Date'] =df.apply(lambda y: str(JalaliDatetime(int(y['سال']), months_index.index(y['ماه']) + 1, int(y['روز'])).todate()), axis = 1)
df.head()

  نام فروشگاه   سال  ماه  روز        Date
0      store1  1396  آذر    4  2017-11-25
1      store1  1396  آذر    5  2017-11-26
2      store1  1396  آذر    6  2017-11-27
3      store1  1396  آذر    7  2017-11-28
4      store1  1396  آذر    8  2017-11-29

In [27]:
months = {'فروردین':'01', 'اردیبهشت':'02', 'خرداد':'03', 'تیر':'04', 'مرداد':'05', 'شهریور':'06', 'مهر':'07', 'آبان':'08', 'آذر':'09', 'دی':'10', 'بهمن':'11', 'اسفند':'12'}
df_copy = df_copy.replace({"ماه": months})
df_copy = df_copy.astype({"سال": str, "روز": str})
df_copy['روز'] = df_copy['روز'].apply(lambda y: y if len(y) == 2 else '0'+y)
df_copy.head()

  نام فروشگاه   سال ماه روز        Date
0      store1  1396  09  04  2017-11-25
1      store1  1396  09  05  2017-11-26
2      store1  1396  09  06  2017-11-27
3      store1  1396  09  07  2017-11-28
4      store1  1396  09  08  2017-11-29

In [28]:
df_copy['Date2'] = df_copy[['سال', 'ماه', 'روز']].apply(lambda y: '/'.join(y), axis = 1) 
df_copy.head()

  نام فروشگاه   سال ماه روز        Date       Date2
0      store1  1396  09  04  2017-11-25  1396/09/04
1      store1  1396  09  05  2017-11-26  1396/09/05
2      store1  1396  09  06  2017-11-27  1396/09/06
3      store1  1396  09  07  2017-11-28  1396/09/07
4      store1  1396  09  08  2017-11-29  1396/09/08

In [29]:
#change the International date to jalali date:
from khayyam import *
from datetime import date, datetime

df_copy['Jalali Date'] = df_copy.apply(lambda y: str(JalaliDate(date(int(str(y['Date']).split(' ')[0].split('-')[0]), int(str(y['Date']).split(' ')[0].split('-')[1]), int(str(y['Date']).split(' ')[0].split('-')[2])))), axis = 1)
df_copy

      نام فروشگاه   سال ماه روز        Date       Date2 Jalali Date
0          store1  1396  09  04  2017-11-25  1396/09/04  1396-09-04
1          store1  1396  09  05  2017-11-26  1396/09/05  1396-09-05
2          store1  1396  09  06  2017-11-27  1396/09/06  1396-09-06
3          store1  1396  09  07  2017-11-28  1396/09/07  1396-09-07
4          store1  1396  09  08  2017-11-29  1396/09/08  1396-09-08
...           ...   ...  ..  ..         ...         ...         ...
13742     store29  1399  07  19  2020-10-10  1399/07/19  1399-07-19
13743     store29  1399  07  20  2020-10-11  1399/07/20  1399-07-20
13744     store29  1399  07  21  2020-10-12  1399/07/21  1399-07-21
13745     store29  1399  07  22  2020-10-13  1399/07/22  1399-07-22
13746     store29  1399  07  23  2020-10-14  1399/07/23  1399-07-23

[13747 rows x 7 columns]

# ایجاد تاریخ های یک بازه

In [31]:
def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

In [32]:
df_time = pd.DataFrame()
times = []
start_dt = date(2019,11,20)
#end date means the fainal day you have real value you should check it always
end_dt = date(2020,11,20)#30 mehr
# make all day from beginig to now
for dt in daterange(start_dt, end_dt):
    times.append(dt)
df_time['ds'] = times

In [33]:
df_time

             ds
0    2019-11-20
1    2019-11-21
2    2019-11-22
3    2019-11-23
4    2019-11-24
..          ...
362  2020-11-16
363  2020-11-17
364  2020-11-18
365  2020-11-19
366  2020-11-20

[367 rows x 1 columns]